/**

chillgr.im 

@copyright	:	2012 Pierce Moore
@developer	: 	Pierce Moore
@website	:	http://www.chillgr.im
@email		:	pierce@piercemoore.com

Adobe Kuler Color Scheme: 

Dark: #2B3A42;
Moderate: #3F5765;
Light: #BDD4DE;
Highlight: #EFEFEF;
Orange: #FF530D;

**/

@font-face {
	font-family: Quicksand;
	src:	url('fonts/Quicksand_Light.otf');
}
@font-face {
	font-family: QuicksandBold;
	src:	url('fonts/Quicksand_Bold.otf');
}
@font-face {
	font-family: QuicksandBook;
	src:	url('fonts/Quicksand_Book.otf');
}
@font-face {
	font-family: QuicksandDash;
	src:	url('fonts/Quicksand_Dash.otf');
}

* {
	font-family: Quicksand;
	text-align: center;
}
a {
	text-decoration: none;
	color: #BDD4DE;
}
a:hover {
	text-decoration: none;
	color: #EFEFEF;
}
body {
	background: #2B3A42;
	color: #EFEFEF;
	font-size: 20px;
}
header {
	padding-bottom: 50px;
	border-bottom: 1px #EFEFEF solid;
}
nav {
	margin: 25px 0 25px 0;
}
a,button,input,select,textarea {
	font-family: Quicksand;
}
p.logo {
	font-size: 4em;
	color: #FF530D;
	margin-top: 80px;
	letter-spacing: -8px;
}
p.subheader {
	font-size: 2em;
	color: #FF530D;
	letter-spacing: -5px;
	margin-bottom: 0;
	font-family: QuicksandBook;
}